<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore|Slabo+13px' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places&geometry"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id='entirePage'>
<!--       <div id='header2' class="container-fluid">
        <h2> United State. </h2>
      </div> -->
      <a id='last' href='#'>
        <div class='arrow inactive left'>
          <img class='arrow-image' src='/images/left.png'></img>
        </div>
      </a>
      <a id='next' href='#'>
        <div class='arrow active right'>
          <img class='arrow-image' src='/images/right.png'></img>
        </div>
      </a>
      <!-- <div id='top'> -->
      <div id='trigger1'></div>
      	<div id ='topContainer' class='fluid-container'>
          <div id='header'>
            <h1> United State. </h1>
          </div>
          <div id='location'></div>
          <div class='row'>
            <div id='left' class='col-xs-5 col-sm-5 col-md-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1'>
              <div id='leftPanel' class="panel panel-default">
                <div class="panel-body">
                  <div id='leftMap' class='picture'></div>
                  <div id='leftPano' class='hidden'></div>
                  <label id='leftLabel' for='leftMap'> Your Location </label>
                </div>
              </div>
            </div>
            <div id='right' class='col-xs-5 col-sm-5 col-md-5'>
              <div id='rightPanel' class="panel panel-default">
                <div class="panel-body">
                  <div id='rightMap' class='picture'></div>
                  <div id='rightPano' class='hidden'></div>
                  <label id='rightLabel' for='rightMap'></label>
                </div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-12'>
              <div id='article-title'></div>
            </div>
          </div>
          <a id='toBottom' href='#'>
            <div id='bottom-arrow' class='inactive down'>
              <img class='arrow-image' src='/images/down.png'></img>
            </div>
          </a>
        </div>
      <!-- </div> -->
      <!-- <div id='bottom'> -->
      <div id='trigger2'></div>
      <div id='bottomPinContain'>
        <div id='bottomContainer'>
          <a id='toTop' href='#'>
            <div id='up-arrow' class='active up'>
              <img class='arrow-image' src='/images/up.png'></img>
            </div>
          </a>
          <div id='iframe-contain' class='container-fluid'>
            <div class='row'>
              <iframe id='iframe'></iframe>
            </div>
          </div>
        </div>
      </div>
      </div>
    <!-- </div> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
    <script src='/ScrollMagic/js/jquery.scrollmagic.min.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenMax.min.js"></script>
    <script src='/javascripts/index.js'></script>
    <script src='/javascripts/animations.js'></script>
  </body>
</html>
